# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
dist/
build/
egg-info/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
*.swp
*.bak
*.tmp
.DS_Store